<div class="container">
<div class="status-bar">
<div class="logo">
<img src="https://logomakr.com/media/ux/logomaker.png" alt="">
</div>
<div class="clock-container">
<app-clock></app-clock>
</div>
<div class="status">
<app-current-postion></app-current-postion>
</div>
</div>
  <div class="left-side-bar">
    <div class="list-filters">
      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput type="text" [formControl]="search">
      </mat-form-field>
    </div>
    <div class="log-list">
      <app-location-ref
      [isSelected]="selectedID === item.id"
      *ngFor="let item of filterdLogList"
      [log-item]="item"
      (click)="selectLocation(item)"
      (deleteLog)="deleteLog($event)">
    </app-location-ref>
  </div>
  </div>
  <div #mapContainer class="mapContainer">
    <mat-tab-group dynamicHeight>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon color="accent">public</mat-icon>
          Map
        </ng-template>
        <div class="map-container">
          <app-map></app-map>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon color="accent">table_chart</mat-icon>
          Saved Logs
        </ng-template>
        <ng-template matTabContent>
          <app-report-table></app-report-table>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
