<div class="container">
<div class="status-bar">
<div class="logo">
 <img [src]="'assets/images/LogoMakr-Iss.png'" alt="">
</div>
<div class="status">
<app-current-position></app-current-position>
</div>
<div class="clock-container">
  <app-clock></app-clock>
  </div>
</div>
  <div class="left-side-bar">
    <div class="list-filters">
      <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput type="text" formControlName="search">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
    </div>
    <div class="log-list">
      <app-location-ref
      [isSelected]="sataService.selectedID === item.id"
      *ngFor="let item of filteredLogList$ | async"
      [log-item]="item"
      (click)="selectLocation(item)"
      (deleteLog)="deleteLog($event)">
    </app-location-ref>
  </div>
  </div>
  <div #mapContainer class="mapContainer">
    <mat-tab-group dynamicHeight>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon color="accent">public</mat-icon>
          Map
        </ng-template>
        <div class="main-map-container">
          <app-map></app-map>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon color="accent">table_chart</mat-icon>
          Saved Logs
        </ng-template>
        <ng-template matTabContent>
          <app-report-table></app-report-table>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
