@import "../abstracts/variables";

.location-ref {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
  background-color: var(--color-white);
  color: var(--color-grey-dark-1);

  h3 {
    color: var(--color-blue-light-1);
  }
  .close-button {
    position: absolute;
    top: 2px;
    right: 2px;
    color: var(--color-red-1);
    cursor: pointer;
  }
}

.selected-Log {
  background-color: cadetblue;
}
