.location-ref {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  .close-button {
    position: absolute;
    top: 2px;
    right: 2px;
    color: var(--color-red-1);
    cursor: pointer;
  }
}

.selected-Log {
  background-color: cadetblue;
}
