.cursor-pointer {
  cursor: pointer;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 12% 88%;
  grid-template-areas:
    "status status"
    "sidebar mapContainer";
  height: 100vh;
  width: 100vw;

  .status-bar {
    grid-area: status;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: solid 1px gray;
    .logo {
    }

    .clock-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 10px;
      margin-right: 25px;
      min-width: 200px;
      align-content: center;
      align-items: center;
      flex-wrap: nowrap;
    }

    .status {
      display: flex;
      flex-direction: column;
      align-content: space-around;
      justify-content: center;
      align-items: center;
    }
  }

  .left-side-bar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "filter" "log";
    height: 100%;
    width: 100%;
    overflow: auto;

    .list-filters {
      grid-area: filter;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 10px;
    }

    .log-list {
      grid-area: log;
      overflow-y: auto;

      .list-info {
        display: flex;
        align-items: center;
        justify-content: left;
        flex-direction: column;
        span {
          margin: auto 10px;
        }
        .url-title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .mapContainer {
    position: relative;
    grid-area: mapContainer;

    .map-container {
      position: relative;

      .list-container {
        position: relative;
        height: 100%;
        width: 100%;
        .list-item {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
