<div>
  <h2>Add Log Name</h2>
  <div>
    <form [formGroup]="locationForm" novalidate #orderFormElement class="order-form">
      <mat-form-field appearance="fill">
        <mat-label>log name</mat-label>
        <input matInput formControlName="location_name">
      </mat-form-field>
      <div class="button-action">
        <button mat-raised-button color="primary" [disabled]="locationForm.invalid" (click)="onSubmit()">
          Save
        </button>

        <button mat-raised-button color="Warn" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
